trigger:
- dev


variables:
  azureSubscription: '2c5d6c57-fbb2-422b-83dc-5a7f74e3cfd1'
  webAppName: 'wa-mfs-calculators-front-end'
  resourceGroupName: 'rg-mfs-global-calculators'
  environmentName: 'wa-mfs-calculators-front-end-dev'
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '20.x'
      displayName: 'Install Node.js'

    - script: |
        npm install
        npm run build
      displayName: 'npm install and build'
      env:
        VITE_API_URL: $(VITE_API_URL)

    - task: ArchiveFiles@2
      displayName: 'Archive dist folder'
      inputs:
        rootFolderOrFile: 'dist'
        includeRootFolder: false
        archiveType: zip
        archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
        replaceExistingArchive: true

    - upload: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
      artifact: drop

- stage: Deploy
  displayName: Deploy stage
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    environment: $(environmentName)
    pool:
      vmImage: $(vmImageName)
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Deploy to Dev Slot'
            inputs:
              azureSubscription: $(azureSubscription)
              appType: webAppLinux
              appName: $(webAppName)
              deployToSlotOrASE: true
              resourceGroupName: $(resourceGroupName)
              slotName: 'dev'
              package: $(Pipeline.Workspace)/drop/$(Build.BuildId).zip
