trigger:
- dev  # Only trigger on backend dev branch changes test

variables:

  azureSubscription: '8d14d0bf-028a-404f-be42-a4026968ee3d'
  webAppName: 'wa-mfs-calculators-back-end'
  resourceGroupName: 'rg-mfs-global-calculators'
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build Backend
  jobs:
  - job: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '20.x'
      displayName: 'Install Node.js'

    - script: npm install
      displayName: 'npm install'


    - task: ArchiveFiles@2
      displayName: 'Archive files'
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
        includeRootFolder: false
        archiveType: zip
        archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
        replaceExistingArchive: true

    - upload: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
      artifact: drop

- stage: Deploy
  displayName: Deploy to Dev Slot
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    environment: 'backend-dev'
    pool:
      vmImage: $(vmImageName)
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Azure Web App Deploy: $(webAppName)'
            inputs:
              azureSubscription: $(azureSubscription)
              appType: webAppLinux
              appName: $(webAppName)
              deployToSlotOrASE: true
              resourceGroupName: $(resourceGroupName)
              slotName: 'dev'
              package: $(Pipeline.Workspace)/drop/$(Build.BuildId).zip
              startUpCommand: 'node server.js'
